@media all and (min-width:960px) and (max-width:1199px) {

    /* 공통 */
    #wrap{
        width: 100%;
    }
    
    header,section,footer{
        width: 100%;
        float: left;
        position: relative;
    }

    #in_header,#container01,#container02,#container03,#container04,#container05,#container06{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    
    header{
        height: 90px;
        background-color: #fff;
        z-index: 99;
    }
    
    #logo{
        width: 200px; /* 16.667%; */
        height: /* 90px; */ 100%;
        /* background-color: gold; */
        float: left;
    }
    
    #logo img{
        width: 100%;
        height: 100%;
    }
    
    #menu_wrap{
        width: 700px; /* 58.333%; */
        height: /* 60px */100%;
        /* background-color: lightpink; */
        float: right;
        position: absolute;
        top: 0;
        /* margin-top: -30px; */
        right: 0px;
    }
    .main_menu{
        width: 16.667%;
        height: 100%;
        float: left;
        /* background-color: lightgreen; */
        text-align: center;
        font: 900 12px/90px '';
    }
    .main_menu:last-child{
        text-align: center;
    }
    
    .sub_menu{
        width: 100%;
        height: 0%;
        /* border: 1px solid #888;
        box-sizing: border-box; */
        /* transition: 0.5s; */
        overflow: hidden;
    }
    
    .sub_menu li{
        width: 100%;
        height: 30px;
        font: 500 12px/30px '';
    }
    
    .sub_menu li{
        color: #999;
    }
    
    .sub_menu li a:hover{
        color: orange;
    }
    
    .main_menu a:hover{
        color: orange;
    }
    
    .main_menu:hover .sub_menu{
        height: auto;
        /* transition: 0.5s; */
        background-color: rgba(255, 255, 255, 1);
    }

    #mo_wrap{
        display: none;
    }
    
    /* section01 */
    #sec01{
        /* height: 555px; */
        /* background-color: lightgray; */
        margin: 0 auto;
    }
    
    #container01{
        width: 100%;
        height: 100%;
        /* background-color: lightgreen; */
        overflow: hidden;
    }
    
    #img_wrap{
        width: 600%;
        height: 100%;
        /* background-color: aqua; */
        position: relative;
        left: -100%;
        cursor: pointer;
    }
    
    .img_con{
        width: /* 1200px; */16.666%;
        height: 100%;
        float: left;
        /* position: absolute;
        top: 0;
        left: 0; */
    }

    .img_con img{
        width: 100%;
    }
    
    .arrow{
        width: /* 15px; */ 1.25%;
        height: 50px;
        /* text-align: center; */
        position: absolute;
        top: 50%;
        margin-top: -25px;
        line-height: 37px;
        /* background-color: black; */
        cursor: pointer;
    }
    
    #left{
        left: 0px;
    }
    
    #right{
        right: 0px;
    }
    
    /* .arrow img{
        background-color: rgba(255, 255, 255, 0.5);
    } */
    
    #circle_wrap{
        width: /* 110px; */ 110px;
        height: 10px;
        /* background-color: gold; */
        float: left;
        position: absolute;
        left: 50%;
        margin-left: -55px;
        bottom: 35px;
    }
    
    .circle{
        width: 10px;
        height: /* 10px; */ 10px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 1);
        float: left;
        margin-right: /* 10px; */ 9.090%;
    }
    
    #circle_wrap .active{
        background-color: orange;
    }
    
    .circle:last-child{
        margin-right: 0px;
    }
    
    /* section02 */
    #sec02{
        /* height: 500px; 41.667%; */
        background-color: orange;
    }
    
    #container02{
        width: 100%;
        /* height: 100%; */
        background-color: lightpink;
        /* float: left; */
    }
    
    #left_con{
        width: 55.833%; /* 670px; */
        height: 100%;
        float: left;
       /* background-color: salmon; */
        overflow: hidden;
    }
    
    #left_con img{
        width: 100%;
        height: 100%;
        float: left;
        transition: 0.5s;
    }
    
    #left_con:hover img{
        transform: scale(1.1);
    }
    
    #right_con{
        width: /* 530px; */ 44.166%;
        height: 100%;
        /* background-color: lightpink; */
        background-image: linear-gradient(to right, orange, orange,orange,orange,white);
        position: absolute;
        right: 0;
    }
    
    #top_text{
        width: 300px; /* 56.603%; */
        height: 60px;
        text-align: left;
        font: 900 40px/60px '';
        position: absolute;
        top: 50px;
        left: 50px;
        /* text-shadow: 2px 2px 2px #222222; */
        color: #222222;
    }
    
    #center_text{
        width: 100%;
        height: 20px;
        text-align: left;
        font: 600 16px/20px '';
        position: absolute;
        top: 130px;
        left: 50px;
        color: #222222;
    }
    
    #bottom_text{
        text-align: left;
        font-size: 12px;
        position: absolute;
        top: 170px;
        left: 50px;
        color: #222222;
    }
    
    #plus_box{
        width: /* 100px; */ 18.867%;
        height: 40px;
        border: 1px solid #000;
        text-align: center;
        font: 16px/40px '';
        position: absolute;
        bottom: 10%;
        left: 50px;
    }
    
    /* section03 */
    #sec03{
        height: /* 780px; */ 65%;
    }
    
    #container03{
        width: 100%;
        height: 100%;
    }
    
    #background{
        width: 100%;
        height: 100%;
    }
    
    #background img{
        width: 100%;
        height: 100%;
    }
    
    #up_text{
        width: /* 200px; */ 16.667%;
        height: /* 40px; */ 5.128%;
        /* background-color: yellow; */
        position: absolute;
        top: /* 90px; */ 11.538%;
        left: 50%;
        margin-left: -100px;
        text-align: center;
        font: 900 30px/40px '';
        color: #222222;
    }
    
    #down_text{
        width: /* 240px; */20%;
        height: /* 16px; */ 2.051%;
        /* background-color: gold; */
        text-align: center;
        margin-top: /* 15px; */ 1.923%;
        position: absolute;
        top: /* 120px; */ 15.384%;
        left: 50%;
        margin-left: -120px;
        font: 12px/16px '';
        color: #222222;
    }
    
    /* #more_box{
        width: 25px;
        height: 25px;
        border: 1px solid gray;
        box-sizing: border-box;
        text-align: center;
        font: 600 25px/19px '';
        color: orange;
        position: absolute;
        top: 121px;
        left: 57.2%;
    } */
    
    #top_wrap{
        width: /* 1110px; */ 92.5%;
        height: /* 270px; */ 34.615%;
        /* background-color: orange; */
        position: absolute;
        left: 3.75%; /* 45px; */
        bottom: /* 300px; */ 38.461%;
        margin-bottom: /* 20px; */ 2.564%;
    }
    
    .top_con{
        width: /* 270px; */ 24.324%;
        height: 100%;
        float: left;
        /* background-color: aqua; */
        margin-right: 0.9%; /* 10px; */
        position: relative;
        overflow: hidden;
    }
    
    .top_con:last-child{
        margin-right: 0;
    }
    
    .top_con img{
        width: 100%;
        height: 100%;
        transition: 0.5s;
    }
    
    .top_info{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s;
    }
    
    .top_info h3{
        width: 100%;
        /* height: 30px; 11.111%; */
        text-align: center;
        color: #fff;
        font: 900 24px/30px '';
        position: absolute;
        top: /* 100px; */ 37.037%;
        left: 0;
        margin-bottom: /* 15px; */ 5.555%;
       
    }
    
    .top_info p{
        width: /* 100px; */ 37.037%;
        /* height: 30px; */
        margin: 0 auto;
        /* margin-top: 15px; */
        border: 1px solid #fff;
        box-sizing: border-box;
        text-align: center;
        font: 600 12px/30px '';
        position: absolute;
        top: /* 140px; */ 51.851%;
        left: 50%;
        margin-left: /* -50px; */ -18.519%;
    }
    
    .top_info a{
        color: #fff;
    }
    
    .top_con:hover img{
        transform: scale(1.1);
    }
    
    #bottom_wrap{
        width: /* 1110px; */ 92.5%;
        height: /* 270px; */ 34.615%;
        /* background-color: orange; */
        margin: 0 auto;
        position: absolute;
        left: 3.75%; /* 45px; */
        bottom: /* 35px; */ 4.487%;
    }
    
    .bottom_con{
        width: /* 270px; */  24.324%;
        height: 100%;
        float: left;
        /* background-color: aqua; */
        margin-right: 0.9%;
        position: relative;
        overflow: hidden;
    }
    
    .bottom_con:last-child{
        margin-right: 0;
    }
    
    .bottom_con img{
        width: 100%;
        height: 100%;
        transition: 0.5s;
    }
    
    .bottom_info{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s;
    }
    
    .bottom_info h3{
        width: 100%;
        height: 30px;
        text-align: center;
        color: #fff;
        font: 900 24px/30px '';
        position: absolute;
        top: /* 100px; */ 37.037%;
        left: 0;
       
    }
    
    .bottom_info p{
        width: /* 100px; */ 37.037%;
        height: 30px;
        margin: 0 auto;
        /* margin-top: 15px; */
        border: 1px solid #fff;
        box-sizing: border-box;
        text-align: center;
        font: 600 12px/30px '';
        position: absolute;
        top: /* 140px; */ 51.851%;;
        left: 50%;
        margin-left: /* -50px; */-18.519%;
    }
    
    .bottom_info a{
        color: #fff;
    }
    
    .bottom_con:hover img{
        transform: scale(1.1);
    }
    
    /* section04 */
    #sec04{
        height: /* 500px;  */41.667%;
        background-color: orange;
    }
    
    #container04{
        width: 100%;
        height: 100%;
        /* background-color: lightpink; */
        float: left;
        overflow: hidden;
    }
    
    #left_box{
        width: /* 530px; */ 44.166%;
        height: 100%;
        /* background-color: lightpink; */
        background-image: linear-gradient(to right, orange, orange,orange,orange,orange,white);
        float: left;
        position: relative;
    }
    
    #high_text{
        width: /* 100px; */ 37.735%;
        height: 40px;
        /* background-color: yellow; */
        position: absolute;
        top: 160px;
        left: /* 190px; */ 30.850%;
        text-align: center;
        font: 900 40px/40px '';
        /* text-shadow: 2px 2px 2px #222222; */
        color: #222222;
    }
    
    #row_text{
        height: 40px;
        position: absolute;
        top: 215px;
        left: /* 150px; */ 25.301%;
        text-align: center;
        font: 16px/40px '';
        color: #222222;
    }
    
    #down_box{
        width: 100px;
        height: 40px;
        border: 1px solid #000;
        text-align: center;
        font: 16px/40px '';
        position: absolute;
        bottom: 25%;
        left: 17%;
        /* margin-left: -85px; */
    }
    
    #right_box{
        width: /* 670px; */ 55.833%;
        height: /* 500px; */ 100%;
        float: right;
    }
    
    #right_box img{
        width: 100%;
        height: 100%;
    }
    
    /* section05 */
    #sec05{
        height: 550px; /* 45.833%; */
    }
    
    #container05{
        width: 100%;
        height: 100%;
        background-color: beige;
        float: left;
    }
    
    #up_wrap{
        width: 100%;
        height: 162px;
    }
    
    #big_text{
        width: 100%;
        text-align: center;
        position: absolute;
        top: 80px;
        float: left;
        color: #222222;
    }
    
    #small_text{
        width: 100%;
        text-align: center;
        font-size: 12px;
        position: absolute;
        top: 110px;
        color: #222222;
    }
    
    #down_wrap{
        width: 100%;
        height: /* 388px; */ 388px;
    }
    
    #down_wrap img{
        width: 100%;
        height: 100%;
    }
    
    #apply_box{
        width: /* 490px; */ 40.833%;
        height: 388px;
        background-image: linear-gradient(to right, beige,beige,beige,beige,beige,beige,beige,beige,white);
        position: absolute;
        top: 161px;
        left: 0;
    }
    
    #apply_box h1{
        text-align: center;
        font-size: 30px;
        position: absolute;
        top: 140px;
        left: /* 85px; */ 17.347%;
        color: #222222;
    }
    
    #apply_box span{
        color: orange;
    }
    
    #apply_box a{
        width: /* 150px; */ 30.612%;
        height: 50px;
        background-color: orange;
        text-align: center;
        font: 900 20px/50px '';
        position: absolute;
        top: 205px;
        left: /* 165px; */ 33.67%;
    }
    
    /* section06 */
    #sec06{
        height: 500px; 
    }
    
    #container06{
        width: 100%;
        height: 100%;
        background-color: black;
        float: left;
        position: relative;
    }
    
    #other{
        width: 100%;
        height: 40px;
        text-align: center;
        font: 900 30px/40px '';
        color: #fff;
        position: absolute;
        top: 60px;
    }
    
    #notice{
        width: /* 1050px; */ 87.5%;
        height: 360px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: /* 75px; */ 6.25%;
        text-overflow: ellipsis;
    }
    
    .text_con{
        width:/*  350px; */ 33.333%;
        height: 100%;
        float: left;
        /* border: 1px solid lightgray;
        box-sizing: border-box; */
    }
    
    .main_text{
        width: 100%;
        height: 60px;
        /* background-color: gold; */
        position: relative;
    }
    
    .main_text a{
        position: absolute;
        font: 900 20px/60px '';
        position: absolute;
        left: /* 20px; */ 5.714%;
    }
    
    /* .main_text h6{
        position: absolute;
        right: 18px;
        top: 24px;
    } */
    
    /* .main_text a:before, .main_text a:after{
        width: 72px;
        height: 3px;
        background-color: black;
        display: block;
        content: '';
        position: absolute;
        top: 45px;
        border-radius: 20px;
    } */
    
    .notice_wrap{
        width: 100%;
        height: 300px;
        background-color: white;
        float: left;
        border: 1px solid lightgray;
        box-sizing: border-box;
        position: relative;
       
    }
    
    .notice_wrap li{
        height: 35px;
        font: 900 12px/15px '';
        margin-left: /* 18px; */ 5.143%;
        margin-top: /* 10px; */3.33%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .notice_wrap p{
        font-size: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .notice_wrap h5{
        position: absolute;
        left: /* 40px; */ 11.429%;
        font-size: 16px;
        top: 30%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .notice_wrap span{
        position: absolute;
        left: /* 40px; */ 11.429%;
        top: 45%;
        font-size: 12px;
        font-weight: 900;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .notice_wrap img{
        position: absolute;
        top: 40%;
        right: /* 40px; */ 11.429%;
    }
    
    .notice_wrap li a:hover{
        color: orange;
    }
    
    .notice_wrap span:hover{
        color: orange;
    }
    
    /* footer */
    footer{
        height: 170px;
        background-color: lightgray;
    }
    
    #in_footer{
        width: /* 1050px; */ 87.5%;
        height: 100%;
        /* background-color: lightpink; */
        margin: 0 auto;
    }
    
    #left_footer{
        width: /* 200px; */ 19.047%;
        height: 100%;
        float: left;
        /* background-color: dodgerblue; */
        position: relative;
    }
    
    #footer_logo{
        width: /* 120px; */ 60%;
        height: 43px;
        background-color: black;
        position: absolute;
        top: 50%;
        margin-top: -21.5px;
    }
    
    #footer_logo img{
        width: 100%;
        height: 100%;
    }
    
    #center_logo{
        width: /* 300px; */ 28.571%;
        height: 100%;
        /* background-color: lightcoral; */
        float: left;
        position: relative;
    }
    
    #top_cl{
        width: 100%;
        height: 50px;
        /* background-color: aqua; */
        position: absolute;
        top: 25px; /* 8.333%; */
    }
    
    #top_cl p{
        font-size: 14px;
        color: #222222;
    }
    
    #top_cl a{
        float: left;
        margin-top: 10px;
        margin-right: /* 10px; */ 3.333%;
    }

    
    #top_cl a:last-child{
        margin-right: 0px;
    }
    
    #bottom_cl{
        width: 100%;
        height: 50px;
        /* background-color: aqua; */
        position: absolute;
        bottom: 25px; /* 8.333%; */
    }
    
    #bottom_cl p{
        font-size: 14px;
        color: #222222;
    }
    
    #bottom_cl a{
        float: left;
        margin-top: 10px;
        margin-right:/*  10px; */ 3.333%;
    }
    
    #bottom_cl a:last-child{
        margin-right: 0px;
    }
    
    #right_footer{
        width: /* 550px; */ 52.380%;
        height: 100%;
        float: left;
        /* background-color: gold; */
        position: relative;
    }
    
    #copy_text{
        width: 100%;
        height: 100px;
        float: left;
        /* background-color: gold; */
        position: absolute;
        top: 35%;
    }
    
    #copy_text p{
        font-size: 12px;
        /* margin-bottom: 5px; */
        text-align: right;
    }
    
    }